CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_WWAN=y
CONFIG_MTK_T7XX=y
CONFIG_WWAN_DEBUGFS=y
CONFIG_MT7915E=y
CONFIG_MT7996E=y
CONFIG_MAC80211=y
CONFIG_MAC80211_DEBUGFS=y
CONFIG_CFG80211_DEBUGFS=y
CONFIG_ATH9K=y
CONFIG_ATH9K_HTC=y
CONFIG_ATH9K_DEBUGFS=y
CONFIG_ATH9K_COMMON_SPECTRAL=y
CONFIG_ATH10K=y
CONFIG_ATH10K_HTC=y
CONFIG_ATH10K_DEBUGFS=y
CONFIG_ATH10K_SPECTRAL=y
CONFIG_ATH10K_COMMON_SPECTRAL=y
CONFIG_ATH11K=y
CONFIG_ATH11K_HTC=y
CONFIG_ATH11K_DEBUGFS=y
CONFIG_ATH11K_SPECTRAL=y
CONFIG_ATH11K_COMMON_SPECTR=L
